# Dependencies
node_modules/
.pnpm-store/
.yarn/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Build Outputs & Compiled Packages
dist/
build/
out/
*.tsbuildinfo

# Nest.js Dashboard
apps/dashboard/.next/
apps/dashboard/out/

# Statically exported dashboard inside core package
packages/core/src/dashboard/out/
packages/core/dist/

# Environment Variables & Local Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.override

# Logs & Runtime Files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.pid
*.seed
*.pid.lock

# Testing & Coverage
coverage/
.nyc_output/
.jest/
*.lcov

# IDEs & System Files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.cache/
.turbo/
.eslintcache
.stylelintcache